.container {
    margin: 0;
    padding: 0;
    
    //height: auto;
}

.hero {
    
    max-width: 100%;
    height: 50vw;
    background-image: url(../img/1-4.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    //background-attachment: fixed;
    //background-position-y: -120px;
    //background-position: top; 
    display: grid;
    //grid-template-rows: 6fr min-content minmax(3rem, min-content);
    //grid-row-gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    
    
    &__text-box {
        display: grid;
        align-content: center;
        justify-items: start;
        grid-row: 8 / 11;
        grid-column: 2 / 3;
        line-height: 5vw;
        //grid-template-columns: 1fr 1fr 1fr;
        //grid-template-columns: repeat(4, 1fr);
        //grid-template-rows: 1fr;   
    }  
}



@media (max-width: 1600px) {
    .hero {
        background-image: url(../img/1-4_smaler_size.jpg);
    }
}

@media (max-width: 500px) {
    .hero {
        background-image: url(../img/hero_image_maska.jpg);
        //max-width: 100%;
        height:100vh;
        background-size: cover;

        .nav {
            display: none;
        }
        
        
        &__text-box {
                grid-row: 7 / 10;
                grid-column: 2 / 10;
                font-size: 17px;
                font-kerning: auto;
                line-height: 58px;
                
                padding-top: 110px;  
        }   

    }
      
}




.header {
    display: flex;
    height: 50px;
    padding: 40px;
    align-content: center;
    
    //background-color: #343532;
    opacity: 95%;
    width: 100vw;
    position: fixed;
    align-items: center;
    justify-content: center;
    
    //margin-left: 10px;



    &__hamburger {
        display: none;
    }
    &__logo {
        display: none;
    }

    
}

.BgColour {
    //color: white;
    transition: all 1s;
    background-color:#343532;
    
}

@media (max-width: 500px) {
    .header {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        padding: 40px;
        z-index: 100;
        margin: 0;
    }
    
    .header__hamburger {
        //margin-right: 10px;
        display: flex;
        height: 18px;
        
        
    }


    
    .header__logo {
        height: 55px;
        display: flex;
        
    }

    
}


.nav {
      
    display: grid;
    grid-column: 2/ 3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10vw;
    list-style: none;
    text-transform: uppercase;

    
    
    

    

    &__link:link,
    &__link:visited {
        
        text-decoration: none;
        color: #5a7b08;
        font-family: $font-primary;  
        padding: 1.5rem;
        display: block;
        transition: all .2s;
        font-weight: bold;

    }

    &__link:hover,
    &__link:active {
    transform: translateY(-3px);
}
}


        #slider {
            display: none;
        }


    @media (max-width:500px) {
        #slider {
            display: grid;
            overflow: hidden;
            grid-template-columns: 100% 100% 100% 100% 100%;
            grid-template-rows: 169px;
            margin: 10px;
            
            
        }
        
        #slider figure {
            position: relative;
            width: 500%;
            margin: 0;
            left: 0;
            animation: 20s slider infinite;
            
        }
        #slider figure img {
            width: 20%;
            float: left;
        }
        
        @keyframes slider {
            0% {
                left: 0;
            }
            20% {
                left: 0%;
            }
            25% {
                left: -100%;
            }
            45% {
                left: -100%;
            }
            50% {
                left: -100%;
            }
            70% {
                left: -200%;
            }
            75% {
                left: -300%;
            }
            95% {
                left: -300%;
            }
            100% {
                left: -400%;
            }
        }
        
    }


.offers {
    height: 100%;
    display: grid;
    grid-template-rows: 15vw;
    grid-template-columns: 25vw 25vw 25vw 1fr;
    
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        
    }
    
    @media (max-width: 500px) {

            display: none;      
    }
    
   
 }


 
 

.reservation {
    display: none;

    @media (max-width: 500px) {
    
            display: grid;
            justify-content: center;
            font-size: 4.2vw;
            margin-top: 10px; 
            //grid-template-rows: 1fr 1fr;
            //flex-direction: row; 
    }
}






.about__section-1 {

   //width: 100%;
   height: 50vw;
   //position: relative;
   background-image: url(../img/about__photo-1.jpg);
   //max-width: 100%;
   background-size: cover;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 1fr 1fr 1fr;

   @media (max-width: 500px) {
    margin: 10px;
    grid-template-columns: repeat(11, 1fr);
}

  
}

.about__section-1__2 {
    display: none;
    @media (max-width: 500px) {
        display: grid;
        //margin: 20px;
        margin-right: 28px;
        justify-content: center;
        line-height: 30px;
        font-size: 2.6vw;


    }
}

.about__text-1 {
    display: grid;
    grid-column: 9 / 13;
    grid-row: 2 / 3;
    align-content: center;
    justify-content: center;
    justify-items: start;
    //line-height: 2vw;
    
    @media (max-width: 500px) {
        display: none;
    }

}

.about__section-2 {
    
    max-width: 100%;
    height: 28vw;
    //position: relative;
    background-image: url(../img/about__photo-2.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 500px) {
        margin: 10px;
        
    }
}

.about__text-2 {
    display: grid;
    align-content: center;
    justify-content: left;
    grid-column: 1 / 3;
    margin-left: 100px;
     
    @media (max-width: 900px) {
        line-height: 58px;
    }

    @media (max-width: 500px) {
        display: none;
    }


     
}

.about__section-3 {
    
    width: 100%;
    height: 35vw;
    //position: relative;
    background-image: url(../img/about__photo-3.jpg);
    background-size: cover;
    
    
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 500px) {
        margin: 10px;
    }

}

.about__text-3 {
    display: grid;
    grid-column: 2 / 3;
    justify-content: center;
    align-content: center;

    @media (max-width: 500px) {
        display: none;
    }
    
}

.about__section-3__m {
    display: none;

    @media (max-width: 500px) {
        display: grid;
        //font-size: 1.2vw;
        
    
            //display: grid;
            justify-content: start;
            font-size: 4.2vw;
            margin-top: 10px; 
            margin-left: 10px;
            //margin: 10px;
            //grid-template-rows: 1fr 1fr;
            //flex-direction: row; 
    
    }
}

.menu {
    //margin: 10rem;
    padding: 20px;
    display: grid;
    justify-content: center;
     grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
     grid-gap: 7rem;
     


     &__item {
         background-color: $color-grey-light-2;
         display: grid;
         justify-items: center; 
         grid-row-gap: .5rem;
  
     }

     &__item-name {
        font-size: 1.6rem;
        margin-top: .5rem;
        
     }

     
         &__item-price {
            font-size: 1.5rem;
            margin-bottom: .5rem;
         }

    

     
        &__img {
            width: 100%;
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            //z-index: 1;
            
        }

        
        
     
}



.testimonials {
 
    background-color: $color-grey-light;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-items: center;
    padding: 70px;
    
    
   


    
    
    

    .testimonial {
        display: grid;
        
        grid-template-columns: min-content 1fr;
        align-items: center;
        grid-column-gap: 2.5vw;
        
        
        &__img {
            width: 12vw;
            border-radius: 50%;
            display: block;
        }

        &__text {
            font-size: 1.5vw;
        }

        @media (max-width: 720px) {
             //display: none;
             grid-template-columns: 1fr;
             justify-content: center;
            } 
       
            @media (max-width: 500px) {
                display:none;
                //grid-template-columns: 1fr;
                //justify-content: center;
               } 
    }
    
    
}

@media (max-width: 1200px) {
    .testimonials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        //padding: 100px;
    } 

    .testimonial {
        display: grid;
        grid-template-columns: 1fr;
        //grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 

        &__img {
            //width: 12vw;
            //border-radius: 50%;
            display: grid;
            grid-row: 1 / 2;
        }

        &__text {
            //font-size: 1.5vw;
            grid-row: 2 /3;
        }
    }
    }

    @media (max-width: 760px) {
        .testimonial {
            display: grid;
            
       }
        } 
        
        @media (max-width: 500px) {
            .testimonial {
                display: none;
                //grid-template-columns:1fr;
                //grid-template-rows: 1fr;
                //grid-column-gap: 0px;
                //grid-row-gap: 0px; 
                //padding: 100px;
            } 
        }


        
        
        .testimonials__mob {
            display: none;

            @media (max-width: 500px) {
                display: grid;
                grid-template-rows: 30px 1fr 80px;
                grid-gap: 20px;
                //justify-content: center;
                margin-left: 20px;
                
                .testimonials__details {
                    //margin-left: 14px;
                    
                }

                .testimonial__mob {
                    border-radius: 50%;
                }
                .testimonials__text {
                    margin-left: 10px;
                    
                }


            }
        }



.contact {
    width: 90%;
    margin: auto;
    overflow: hidden;
    height: 900px;
    display: grid;
    align-content: center;
    justify-content: center;
    
    @media (max-width: 500px) {
        .heading-2 {
            font-size: 10vw;
        }
       height: 90vh;
    }

}

#contact-section {
    background-image: url(../img/contact-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

#contact-section .contact h2 {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: $font-primary;
    margin-bottom: 50px;
    
}

.contact-form {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;   
}

input{
    //display: grid;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgba(255, 249, 249, 0.76);
    color:rgba(14, 14, 14, 0.986);
    border: none;
    outline: none;
}

input::placeholder{
    color: rgb(114, 111, 111);
    font-family: $font-primary;
}

textarea{
    padding: 10px;
    width: 100%;
    background-color: rgba(255, 249, 249, 0.76);
    color: rgba(14, 14, 14, 0.986);
    border: none;
    outline: none;
}

textarea::placeholder{
    color: rgb(114, 111, 111);
}


.btn-contact {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-top: 5px;

    @media (max-width: 500px) {
        width: 100%;
        height: 40px;
    }
     
}



.footer {
    display: grid;
    //margin: 50px;
    padding: 50px;
    align-content: center;
    //grid-template-columns: 1fr 1fr 1fr;
    background-color: #343532;
    justify-content: center;
    align-items: center;

    &__nav {
        display: grid;

        //grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        //grid-gap: 7rem;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        //grid-column-gap: 10rem;
        list-style: none;
        text-transform: uppercase;
        margin-top: 60px;
        align-content: center;
        justify-content: center;
        align-items: center;
        
        &__link:link,
        &__link:visited {
        
        text-decoration: none;
        color: white;
        font-family: $font-primary;  
        padding: 1.5rem;
        display: block;
        transition: all .2s;
    }

   

    &__link:hover,
    &__link:active {
    transform: translateY(-3px);
    }

        
    }
}

@media (max-width: 414px) {
    .footer__nav {
       display: grid;
       grid-template-rows: 1fr 1fr;
       grid-template-columns: 1fr 1fr 1fr;
       

   } 
    } 




.copyright {
    font-size: 1rem;
    color: #aaa;              //$color-grey-light-2;
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
}


