.container {
    margin: 0;
    padding: 0;
    
    //height: auto;
}

.hero {
    
    max-width: 100%;
    height: 50vw;
    background-image: url(../img/1-4.jpg);
    background-repeat: no-repeat;  
    background-size: cover;
    //background-attachment: fixed;
    //background-position-y: -120px;
    //background-position: top; 
    display: grid;
    //grid-template-rows: 6fr min-content minmax(3rem, min-content);
    //grid-row-gap: 3rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    
    
    &__text-box {
        display: grid;
        align-content: center;
        justify-items: start;
        grid-row: 8 / 11;
        grid-column: 2 / 3;
        //grid-template-columns: 1fr 1fr 1fr;
        //grid-template-columns: repeat(4, 1fr);
        //grid-template-rows: 1fr;   
    }  
}



@media (max-width: 1600px) {
    .hero {
        background-image: url(../img/1-4_smaler_size.jpg);
    }
}

@media (max-width: 414px) {
    .hero {
        background-image: url(../img/hero_image_maska.jpg);
        //max-width: 100%;
        height:100vh;
        background-size: cover;

        .nav {
            display: none;
        }
        
        
        &__text-box {
                grid-row: 7 / 10;
                grid-column: 2 / 10;
                font-size: 17px;
                font-kerning: auto;
                line-height: 58px;
                
                padding-top: 110px;
                
                
        }   
        

    }
    
    
}

/*@media (max-width: 900px) {
    .hero {
        background-image: url(../img/1-4_smaler_size.jpg);
    }
}*/

.header {
    display: flex;
    max-height: 4rem;
    margin-top: 5px;
    align-content: center;
    grid-template-columns:1fr 1fr 1fr;
    //background-color: #343532;
    opacity: 95%;
    max-width: 100%;
    position: fixed;
    
    

    
    
    
    
    
    
    //justify-items: stretch;
    align-items: center;
}

@media (max-width: 414px) {
    .header {
        display: flex;
        width: 100vw;
        //flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
        height: 30vh;
        padding: 32px;
        z-index: 100;
    }
    
    .header__hamburger {
        //margin-right: 10px;
        height: 18px;
        
        
    }


    
    .header__logo {
        height: 55px;
        
    }
}


.nav {
    /*display: grid;
    grid-column: 2/ 3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10rem;*/

    display: grid;
    grid-column: 2/ 3;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px; 
    list-style: none;
    text-transform: uppercase;
    align-items: center;
    align-content: center;
    opacity: 1;


    
    
    //background-color: white;
    
    

    &__link:link,
    &__link:visited {
        
        text-decoration: none;
        color: white;
        font-family: $font-primary;  
        padding: 1.5rem;
        display: block;
        transition: all .2s;
    }

    &__link:hover,
    &__link:active {
    transform: translateY(-3px);
}
}

/*.header__logo {
    grid-column: 1 / 2;
    height: 7rem;
    //margin-right: 28rem;
    margin-left: 50px;
}*/

/*.hero__text-box {
    //margin-left: 82px;
    //margin-top: 300px;
    
}*/

        #slider {
            display: none;
        }


    @media (max-width:500px) {
        #slider {
            display: grid;
            overflow: hidden;
            grid-template-columns: 100% 100% 100% 100% 100%;
            grid-template-rows: 169px;
            margin: 10px;
            
            
        }
        
        #slider figure {
            position: relative;
            width: 500%;
            margin: 0;
            left: 0;
            animation: 20s slider infinite;
            
        }
        #slider figure img {
            width: 20%;
            float: left;
        }
        
        @keyframes slider {
            0% {
                left: 0;
            }
            20% {
                left: 0%;
            }
            25% {
                left: -100%;
            }
            45% {
                left: -100%;
            }
            50% {
                left: -100%;
            }
            70% {
                left: -200%;
            }
            75% {
                left: -300%;
            }
            95% {
                left: -300%;
            }
            100% {
                left: -400%;
            }
        }
        
    }


.offers {
    height: 100%;
    display: grid;
    grid-template-rows: 15vw;
    grid-template-columns: 25vw 25vw 25vw 1fr;
    
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        
    }

    
   
 }

@media (max-width: 500px) {
    
    .offers {
        display: none;
        //  
        
        
         //grid-template-rows: 169vh;
         //grid-template-columns: 300px;
         //
        //width: 100%;
        //background-image: url(../img/image_1.png);
        //background-repeat: no-repeat;
        //height: 169px;
        
        //margin: 10px;
    }

    
    
}
 
 

 


.about__section-1 {

   width: 100%;
   height: 50vw;
   //position: relative;
   background-image: url(../img/about__photo-1.jpg);
   //max-width: 100%;
   background-size: cover;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: 1fr 1fr 1fr;
  
}

.about__text-1 {
    display: grid;
    grid-column: 9 / 13;
    grid-row: 2 / 3;
    align-content: center;
    justify-content: center;
    justify-items: start;
    //margin-top: 5rem;
    //margin-left: 55rem;
    //margin-right: -75vw;
    

}

.about__section-2 {
    
    max-width: 100%;
    height: 28vw;
    //position: relative;
    background-image: url(../img/about__photo-2.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about__text-2 {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-column: 1 / 2;

     
}

.about__section-3 {
    
    width: 100%;
    height: 35vw;
    //position: relative;
    background-image: url(../img/about__photo-3.jpg);
    background-size: cover;
    
    
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.about__text-3 {
    display: grid;
    grid-column: 2 / 3;
    justify-content: center;
    align-content: center;
    
}


.menu {
    margin: 10rem;
    padding: 20px;
    display: grid;
    justify-content: center;
     grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
     grid-gap: 7rem;
     


     &__item {
         background-color: $color-grey-light-2;
         display: grid;
         justify-items: center;
         
         
         grid-row-gap: .5rem;

         &__name {
           
                       
                //width: 80%;
                font-family: $font-primary;
                font-size: 1.6rem;
                text-align: center;        
         }

         &__description,
         &__price {
            font-size: 1.5rem;
            margin-left: 2rem;
    
            display: flex;
            align-items: center;
         }
     }

    

     
        &__img {
            width: 100%;
            grid-row: 1 / 2;
            grid-column: 1 / -1;
            //z-index: 1;
            
        }

        
        
     
}



.testimonials {
 
    background-color: $color-grey-light;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: rem;
    align-items: center;
    justify-items: center;
    padding: 100px;
    
    
    

    .testimonial {
        display: grid;
        
        grid-template-columns: min-content 1fr;
        align-items: center;
        grid-column-gap: 2.5vw;
        
        &__img {
            width: 12vw;
            border-radius: 50%;
            display: block;
        }

        &__text {
            font-size: 1.5vw;
        }

       
    }
    
}

@media (max-width: 1200px) {
    .testimonials {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        //padding: 100px;
    } 

    .testimonial {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px; 

        &__img {
            //width: 12vw;
            //border-radius: 50%;
            display: grid;
            grid-row: 1 / 2;
        }

        &__text {
            //font-size: 1.5vw;
            grid-row: 2 /3;
        }
    }
    }

    @media (max-width: 760px) {
        .testimonial {
            display: grid;
            
            


}
        } 
        


.contact {
    //width: 90%;
    margin: auto;
    overflow: hidden;
    height: 900px;
    display: grid;
    align-content: center;
    justify-content: center;
}

#contact-section {
    background-image: url(../img/contact-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

#contact-section .contact h2 {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: $font-primary;
    margin-bottom: 50px;
    
}

.contact-form {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    //padding: 100px;

    
    
}

input{
    //display: grid;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgba(255, 249, 249, 0.76);
    color:rgba(14, 14, 14, 0.986);
    border: none;
    outline: none;
}

input::placeholder{
    color: rgb(114, 111, 111);
    font-family: $font-primary;
}

textarea{
    padding: 10px;
    //margin: 10px;
    width: 100%;
    background-color: rgba(255, 249, 249, 0.76);
    color: rgba(14, 14, 14, 0.986);
    border: none;
    outline: none;
}

textarea::placeholder{
    color: rgb(114, 111, 111);
}

/*.submit{
    display: grid;
    justify-content: center;
    align-items: center;

    width: 20%;
    background: none;
    padding: 8px;
    outline: none;
    font-size: 13px;
    font-weight: bold;
    height: 33px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 2px;
    margin-left: 35%;
    margin-top: 35px;
    border: 2px solid black;
    color: black
}

.submit:hover{
    
    cursor: pointer;
} */

.btn-contact {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 20%;
}



.footer {
    display: grid;
    //margin: 50px;
    padding: 50px;
    align-content: center;
    //grid-template-columns: 1fr 1fr 1fr;
    background-color: #343532;
    justify-content: center;
    align-items: center;

    &__nav {
        display: grid;

        //grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
        //grid-gap: 7rem;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        //grid-column-gap: 10rem;
        list-style: none;
        text-transform: uppercase;
        margin-top: 60px;
        align-content: center;
        justify-content: center;
        align-items: center;
        
        &__link:link,
        &__link:visited {
        
        text-decoration: none;
        color: white;
        font-family: $font-primary;  
        padding: 1.5rem;
        display: block;
        transition: all .2s;
    }

   

    &__link:hover,
    &__link:active {
    transform: translateY(-3px);
    }

        
    }
}

@media (max-width: 414px) {
    .footer__nav {
       display: grid;
       grid-template-rows: 1fr 1fr;
       grid-template-columns: 1fr 1fr 1fr;
       

   } 
    } 




.copyright {
    font-size: 1rem;
    color: #aaa;              //$color-grey-light-2;
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 70%;
}


